<!-- update the version number as needed -->
<script defer src="/__/firebase/7.14.2/firebase-app.js"></script>
<!-- include only the Firebase features as you need -->
<script defer src="/__/firebase/7.14.2/firebase-auth.js"></script>
<script defer src="/__/firebase/7.14.2/firebase-database.js"></script>
<!-- <script defer src="/__/firebase/7.14.2/firebase-messaging.js"></script> -->
<script defer src="/__/firebase/7.14.2/firebase-storage.js"></script>
<!-- initialize the SDK after all desired features are loaded -->
<script defer src="/__/firebase/init.js"></script>
