{
    "applinks": {
        "details": [
            {
                "appIDs": ["{{ ios.appID }}"],
                "components": [
                    {
                        "/": "/*"
                    }
                ]
            }
        ]
    },
    "webcredentials": {
        "apps": [ "{{ ios.appID }}" ]
    }
}
