rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
  
    match /{root}/{userId} {
      function isPublic() {
        return root == "userpublic";
      }
      function rootAllowed() {
        return root == "userdata" || root == "userpublic";
      }
      function isOwner() {
        return request.auth != null
               && request.auth.uid == userId
               && rootAllowed();
      }
      function checkMetadata(metadata) {
      	return metadata == null || !metadata.keys().hasAny([
        	// blacklisted keys
        	"scanned", "nsfw-tags", "marked-safe", "admin"
        ]);
      }
      
      function isUploadAllowed() {
        return isOwner()
               && request.resource.size < 512 * 1024
               && request.resource.contentType == 'image/jpeg'
               && checkMetadata(request.resource.metadata);
      }

      match /plog/{plogId}/{n} {
      	allow write: if isUploadAllowed()
                     && n.matches("[0-9]\\.jpg");
        allow read: if isPublic() || isOwner();
      }

      match /plog/profile.jpg {
        allow write: if isUploadAllowed();
        allow delete: if isOwner();
      	allow read: if isPublic() || isOwner();
      }
    }
  }
}